//! --------- Utilities -------------- //

@import "utilities/function";
@import "utilities/variable";
@import "utilities/mixin";

//! --------- Bootstrap -------------- //

@import "custom";

//! --------- Base -------------- //

@import "base/typography";
@import "base/deafult";
@import "base/class";

//! --------- Vendors -------------- //

//! --------- Themes -------------- //

//! --------- Layouts -------------- //

@import "layouts/header";
@import "layouts/story";
@import "layouts/slider";
@import "layouts/brands";
@import "layouts/scroll";
@import "layouts/smarket";
@import "layouts/category";
@import "layouts/suggest";
@import "layouts/digiplus";
@import "layouts/digiclub";
@import "layouts/buy";
@import "layouts/mostsell";
@import "layouts/articels";
@import "layouts/footer";

//! --------- Components -------------- //

//! --------- Pages -------------- //

@import "pages/home";
