@mixin centerizetag($align: center, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin midposition() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin linebraker($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin Responsive($type) {
  //! phone screen --------- 576px
  @if $type == min {
    @media only screen and (max-width: 36em) {
      @content;
    }
  }

  //! phone landscape screen --------- 776px
  @if $type == minl {
    @media only screen and (max-width: 48.5em) {
      @content;
    }
  }

  //! Tablet portrait screen --------- 992px
  @if $type == mid {
    @media only screen and (max-width: 61.98em) {
      @content;
    }
  }

  //! Tablet landscape screen --------- 1200px
  @if $type == max {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  //!  laptop screen --------- 1800px
  @if $type == maxl {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }

  //! Big Desktop screen --------- 992px
  @if $type == maxxl {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
