//! -------------- other colors ---------------//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//!--------------- override Colors----------//

$primary: #941b80;
$secondary: #19bed1;
$secondaryDark: #3c4b6d;
$tertiary: #ef394e;
$gray: #e1e1e1;
$subtitle: #818489;
$search: #eaeaec;
$success: #3bae03;

//!--------------- Color MAPS---------------//

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "secondaryDark": $secondaryDark,
  "tertiary": $tertiary,
  "subtitle": $subtitle,
  "search": $search,
  "gray": $gray,
  "success": $success,
);

//! -------------- Font size variable --------------//

$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.5rem;
$fs-4: 1.25rem;
$fs-5: 1rem;
$fs-6: 0.5rem;
