.scroll {
  cursor: grab;
  &__content {
    overflow: hidden;
    &-item1 {
      width: 19rem !important;
      height: 27rem;
    }
    &-item {
      width: 19rem !important;
      height: 27rem;
      margin-left: 0.25rem;
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-img {
      width: 10rem;
      height: auto;
      &--2 {
        width: 13rem;
      }
    }
  }
}
